@import "./css/header.css";
@import "./css/searchBar.css";
@import "./css/filters.css";
@import "./css/events.css";


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}


:root {
  /* Colours */
  --bg-main:rgb(221, 221, 221);
  --surface:var(--secondary);
  --primary: #111111;
  --secondary: #6B7280;
  --muted: #9CA3AF;
  --text: #111111;

  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: -1.5px;

  /* Shadows */
  --shadow-sm: 5px 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 4px 8px 5px rgba(0, 0, 0, 0.10);
  --shadow-lg: 0 8px 20px 5px rgba(0, 0, 0, 0.12); 
}

*, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  color: var(--text);
}