header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 1rem;
    border-bottom: solid 1px grey;
}

.site-title {
    margin-left: 2rem;
    font-family: "Boldonse";
    letter-spacing: 0.1rem;
}

.header-nav {
    margin-right: 2rem;
}

.menu-item {
    margin-left: 2rem;
}