header {
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 0.5rem;
    border-bottom: solid 1px var(--muted-grey);
    background: var(--bg-primary);
    
}

.site-title {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    letter-spacing: -0.05rem;
    color: var(--main-text);
}

.site-title-period {
    color: var(--accent);
}

.header-nav {
    margin-right: 1rem;
    display: flex;
    color: var(--main-text);
}

.cart-icon {
    margin-right: 2rem;
}

.ticket-icon {
    margin-right: 1rem;
}

.cart-icon-number {
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    position: absolute;
    color: black;
    background-color: var(--accent);
    border-radius: 5rem;
    padding: 0.1rem 0.4rem;;
    z-index: 1000;
    font-size: 0.8rem;
    top: 0.25rem;
    right: 4.4rem;


}

.menu-bars {
    display: flex;
    font-size: 1.5rem;
}

.menu-text {
    display: none;
    margin-left: 1rem;
}




/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* DESKTOP */
@media (min-width: 1025px) {

    .site-title {
        margin-left: 2rem;
    }

    .header-nav {
        margin-right: 2rem;
        display: flex;
        font-size: 1.5rem;
    }

    .menu-bars {
        display: none;
    }

    .menu-text {
        display: flex;
        margin-left: 2rem;
    }
}